<div class="container text-center my-5">
    <h1 style="color: #31AB46" class="display-4 poppins-regular">Order Placed Successfully</h1>
    <button onclick="location.href='@Url.Action("Index", "Asset")'" class="btn btn-custom">Check for Available Items</button>
</div>
